* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    width: 100%;
    background-image: url(img/Large/17.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: scroll;
}

.navbar {
    width: 100%;
    margin: auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    border-bottom: 15px solid #ffffffa5;
}

.navbar .logo {
    width: 60px;
    margin: 30px 0;
    cursor: pointer;
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 40px;
    text-transform: uppercase;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.user {
    display: flex;
    align-self: center;
}

button {
    padding: 8px 25px;
    background: transparent;
    outline: none;
    border: 2px solid #fff;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}

button:hover {
    background: rgba(44, 156, 128, 0.656);
    color:#fff;
    border-color: #fff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.content {
    width: 100%;
    height: 100vh;
    position: relative;
}

.right-col {
    float: right;
    position: absolute;
    width: 50%;
    height: 100vh;
    background: rgba(86,86,86,0.3);
    backdrop-filter: blur(10px);
    top: 0;
    right: 0;
}

.right-col h1 {
    margin-top: 120px;
    text-align: center;
    padding: 5px;
    color: #fff;
    font-family: 'Times New Roman', sans-serif;
}

.right-col p {
    color: #fff;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    width: 24rem;
    gap: 1rem;
    align-items: center;
    margin-left: 190px;
}

input,
select,
textarea {
    padding: 10px;
    background: transparent;
    border: 1px solid black;
    font-family: 'Quicksand', sans-serif;
}

textarea {
    height: 6rem;
}

button {
    background: transparent;
    outline: none;
    border: 2px solid #484848;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}