* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hero {
    width: 100%;
    height: 100vh;
    background-image: url(img/Large/14.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.navbar {
    width: 100%;
    margin: auto;
    padding: 0 10px;
    margin-top: -30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    border-bottom: 15px solid #ffffffa5;
}

.navbar .logo {
    width: 60 px;
    margin: 30px 0;
    cursor: pointer;
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 40px;
    text-transform: uppercase;
}

.navbar ul li a {
    text-decoration: none;
    color: #515151;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.user {
    display: flex;
    align-self: center;
}

button {
    padding: 8px 25px;
    background: transparent;
    outline: none;
    border: 2px solid #484848;
    border-radius: 20px;
    color: #585858;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}

button:hover {
    background: rgba(44, 156, 128, 0.656);
    color:#fff;
    border-color: #fff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.container {
    width: 50%;
    height: 100vh;
    background: rgba(86,86,86,0.3);
    backdrop-filter: blur(10px);
    position: absolute;
    left: 0;
    top: 0;
}

.info {
    width: 550px;
    color: #fff;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.info h1 {
    font-size: 60px;
    letter-spacing: 10px;
    font-family: 'Times New Roman', sans-serif;
}

.info p {
    color: #f0eef1;
    font-size: 20px;
    margin: 20px 0;
    font-family: 'Times New Roman', sans-serif;
}

.slider {
    display: flex;
    align-items: center;
    position: absolute;
    right: 30px;
    bottom: 50px;
}


#prev, #next {
    width: 20px;
    cursor: pointer;
}

.preview {
    display: flex;
    align-items: center;
    margin: 0 60px;
}

.preview img {
    width: 30px;
    margin: 0 10px;
    opacity: 0.4;
}

.preview .active {
    display: block;
    border: 3px solid #fff;
    width: 100%;
    opacity: 1;
}